li {

    text-align: justify;
    font-family:sans-serif;
}
p {
    text-align:justify;
    font-family:sans-serif;
    
}
h1 {
    text-align:center;
    font-size:50px;
    margin-bottom:auto;
    font-family:sans-serif;
}
h2 {
    font-size:xx-large;
    font-weight:bold;
    text-decoration: underline;
}
body {
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    background-image:url(Bilder/leaves.jpeg);
    background-size:300px;
    
}
a {
	color:#3bfaba;
}

.goals {
    border-radius: 1em;
    display: grid;
	padding: 3em;
    gap: 2em; 
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    background-color:#6AA84F;
    grid-auto-rows: 1fr;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
    margin:1em;
}

.flg {
    border-radius: 1em;
    display: grid;
	padding: 3em;
    gap: 2em; 
    grid-template-columns: repeat(auto-fit, minmax(700px,1fr));
    background-color:#6AA84F;
    grid-auto-rows: 1fr;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
    margin:1em;
}

.groesser {
    font-size:x-large;
    text-align: center;
}

.interview {
    border-radius: 1em;
    display: grid;
	padding: 3em;
    gap: 2em; 
    grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
    background-color:#6AA84F;
    grid-auto-rows: 1fr;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
    margin:1em;
}

.relevance {
    border-radius: 1em;
    display: grid;
	padding: 3em;
    gap: 2em; 
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    background-color:#6AA84F;
    grid-auto-rows: 1fr;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
    margin:.5em;
    align-content: center;
}

.bigrelevance {
    border-radius: 1em;
    display: grid;
	padding: .5em;
    gap: 1em; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    

}

@media (min-width:550px) {
    .relevance {
        grid-column: auto / span 3;
    }
    .imagerel {
        grid-column: auto / span 2;
    }
}

.imagerel {
    border-radius: 1em;
    display: grid;
	padding: 3em;
    gap: 2em; 
    background-color:#6AA84F;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
    margin:.5em;
}

.imagerelevance {
    max-height:max-content;
    border-radius: 1em;
    max-width: 100%;
    max-height: 100%;
    align-content: center;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
}

.flagship {
    max-height:max-content;
    border-radius: 1em;
    max-width: 100%;
    max-height: 100%;
    align-content: center;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
}

.eins {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 1em;
    gap:1em;
    background-color:#6AA84F;
    border-radius: 1em;
    margin:1em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
}

img {
    border-radius: 1em;
    width:100%;
    max-width: 100%;
    max-height: auto;
}

.gol {
    background-color:whitesmoke;
    opacity: 0.8;
    border-radius:1em;
    padding:2em;
    align-content: center;
    font-size:x-large;
}
.gola {
    text-decoration: none;
    color:rgb(0, 0, 0);
}


.golyap {
    font-size:50px;
    background-color:whitesmoke;
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
    text-align: justify;
    opacity: 0.9;
    text-align: center;
    text-decoration: underline;
}

.goal {
    background-color:whitesmoke;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
    text-align: justify;
    opacity: 0.8;
    
}

.goaljust {
    background-color:whitesmoke;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
    text-align: center;
    opacity: 0.8;
    font-size: large;
}

.goaly {
    background-color:whitesmoke;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
    text-align: justify;
    opacity: 0.8;
    text-align: center;
    font-size: x-large;
}

.header{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
    padding: 2em;
    border-radius: 1em;
    background-color:#6AA84F;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
    margin:1em;
}

.ueber{
    grid-column-start: 1;
    align-content: center;
    font-size:50px;
    text-align:center;
    font-weight: bold;
    text-decoration:underline;
    color:whitesmoke;
}

.names {
    grid-column-start: 3;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(7ch, 1fr));
}

.name {
    color:whitesmoke;
    font-size: x-large;
    align-content: center;
    text-align: center;
}

div {
	text-align: justify;
}
